body{
    background-color: blanched almond;
}

h1{
    color:rgb(191, 0, 191);
    margin-left: 20px;
    
}

th{
    background-color: lightgray;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

td{
    padding: 10px;
}

table{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
}

.img1{
    height: 150px;
    width: 150px;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}

.img2{
    height:25%;
    width: 25%;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}

.img3{
    height: 50pt;
    width: 50pt;
    border-width: 5px;
    border-color: red;
    border-style: dashed;
    padding: 30px;
}
h1{
    color: #0000ff;
    }
    #bye{
    color: lightpink;
    }
    .sample{
    color: greenyellow;
    background-color: black;
    }
.text{
    text-align:center; 
    text-decoration: underline;
    text-transform:uppercase;
    font-family: monospace;
    font-size: 25px;
}
.link1:hover {
        background-color: red;
        border: 2px solid black;
}
.link2:visited{
    color:gray;
}
.link3:active{
    color:orange;

}